.component-header {
    margin: 0.2em 0.8em;
    width: unset !important;
}

.logo {
    height: 1.2em;
}

.menu-item {
    color: #ff3b59;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.7em;
    margin: 0.3em 0.8em;
    font-weight: bold; 
    text-decoration: none;
}